.to-up {
  background-color: #ecd979;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition-property: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.to-up:hover,
.to-up:focus {
  background-color: #e3c456b1;
}

.arrow-to-up {
  width: 24px;
  height: 24px;
  fill: #4d4521;
  transform: rotate(-60deg);
}

.btn-ring {
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(244, 230, 170, 0.75);
  box-shadow: 0px 0px 7px 4px rgba(244, 230, 170, 0.75);
}

.btn-ring-hidden {
  display: none;
}
